{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mb-5">Créer une critique</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="border border-dark border-1 border-bottom-0 mx-5 p-3">
        <h2>Livre/Article</h2>
        <label>{{ ticket_form.title.label }}<br>
            {{ ticket_form.title }}</label><br>
        <label>{{ ticket_form.description.label }}<br>
        {{ ticket_form.description }}</label><br>
        <label>{{ ticket_form.image.label }}<br>
        {{ ticket_form.image }}</label>
        {{  ticket_form.ticket_blog }}

    </div>
    <div class="border border-dark border-1 mx-5 p-3" >
        <h2>Critique</h2>
        <label>{{ review_form.headline.label }}<br>
        {{ review_form.headline }}</label><br>
        <label>{{ review_form.rating.label }}<br>
        {{ review_form.rating }}</label><br>
        <label>{{ review_form.body.label }}<br>
        {{ review_form.body }}</label> <br>
        {{ review_form.review_blog }}
        <input class="mt-3" type="submit" value="Envoyer">
    </div>
</form>

{% endblock %}