{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Suivre un utilisateur</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyer">
</form>

<h1>Abonnements</h1>
<ul class="list-group">
{% for user in abonnements %}
    <li class="list-group-item">{{ user.followed_user }}</li>
{% endfor %}
</ul>

<h1>Abonnées</h1>
<ul class="list-group">
{% for user in abonnes %}
    <li class="list-group-item">{{ user.user }}</li>
{% endfor %}
</ul>

{% endblock %}