{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mb-5 mt-3">Abonnements</h1>

<div class="card mb-5 mt-3 ">
    <h2 class="card-header">Suivre d'autres utilisateurs</h2>
    <div class="card-body">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Suivre">
        </form>
    </div>
</div>


<div class="card mb-5 mt-3 ">
  <h2 class="card-header">Abonnements</h2>
  <div class="card-body">
      <ul class="list-group">
          {% for user in abonnements %}
              <li class="list-group-item">
                  <div class="row">
                        <div class="col-10">
                            <p class="pt-2">{{ user.followed_user }}</p>
                        </div>
                        <div class="col-2 text-end">
                            <button class="btn btn-primary" type="button"><a class="text-decoration-none text-white" href="{% url 'unfollow' user.followed_user.id  %}">Se désabonner</a></button>
                        </div>
                    </div>
              </li>
          {% endfor %}
      </ul>
  </div>
</div>

<div class="card mb-5">
  <h2 class="card-header">Abonnés</h2>
  <div class="card-body">
      <ul class="list-group">
            {% for user in abonnes %}
                <li class="list-group-item">
                    <div class="row">
                           <p class="pt-2">{{ user.user }}</p>
                    </div>
                </li>
            {% endfor %}
      </ul>
  </div>
</div>


{% endblock %}